

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.vh-100{
    height: 100vh;
}


.list-siswa .col-md-12{
    padding: 0;
}

.list-siswa a.text-semibold{
    cursor: default;
}

.list-siswa .dataTables_length label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
}
.list-siswa .dataTables_filter label{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;

}
table{
    width: auto;
}

.table-responsive{
    overflow-x: hidden!important;
}

.list-siswa .dataTables_filter .form-control{
    width: 100px;
    margin: 0 1rem;

}

.list-siswa .dataTables_length .form-control{
    width: fit-content;
    margin: 0 1rem;

}


.list-siswa .dataTables_wrapper .row{
    margin: 0;
}

.list-siswa .dataTables_wrapper .row .col-sm-12{
    padding: 0;
}




.list-siswa .dataTables_filter label input{
    outline: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: .5rem;
}

.list-siswa .page-item.active .page-link{
    color: black;
    border-color: #e7eaf0;
    
}

.list-siswa .dataTables_wrapper .row .dataTables_paginate{
    padding: 1rem 0;
}

.list-siswa .dataTables_wrapper div.row:nth-of-type(3){
    padding: 1rem 0;
}

.list-siswa .dataTables_wrapper div.row:nth-of-type(3) div.col-sm-12:nth-of-type(1){
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.list-siswa .modal .modal-header button.close{
    display: none;
}

.list-siswa .jurusan-responsive{
    display: none;
}

.list-siswa .img-profile{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.action{
    display: flex;
    justify-content: end;
}

p.card-text{
    margin: 0px 0px 0px;
}
.txt-angkatan{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.jurusan .input-group.btn-jurusan{
    width: fit-content;
    outline: 3px solid rgba(0, 0, 0, 0.2);
}

/*<---------- DETAIL ---------->*/

.detail-container{
    width: 100vw;
}
.detail .container{
    padding: 0;
    min-height: 100vh;
}
.detail .profile-top{
    display: flex;
    flex-direction: row;
}

.detail .row{
    padding: 0;
    margin: 0;
}
.detail .fw-bold{
    font-weight: 600;
}
.detail{
    font-family: 'Nunito', sans-serif;
}
.bg-detail{
    background: #f9f9f9;
}

.detail .text-name{
    font-size: 1.5rem;
    font-weight: 600;
}

.text-title{
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}

.profile .text-subtitle{
    font-size: .7rem;
}
.text-subtitle{
    font-size: 1.2rem;
}

.detail .h-fit-content{
    height: fit-content;
}
.detail .nav-pills .nav-link.active, .detail .nav-pills .show>.nav-link {
    color: #198754;
    background-color: #1987541a;
}
.nav-link:hover {
    color: #198754;
  }


/*<---------- AUTHENTICATION ---------->*/

.login{
    height: 100vh;
}
.login > .d-flex{
    width: 80%;
    height: 90%;
}

.login .left{
    background-image: url(../image/background/bg-landing-pg.png);
    background-size: cover;
}

.login.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

.login .row{
    margin-left: 0;
    margin-right: 0;
}

.text-absolute{
    font-weight: 800;
    font-size: 8rem;
    color: transparent;
    position: absolute;
    bottom: 0;
    transition: 1s;
}

/* RIGHT */

.login .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login .left .text-absolute{
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    left: 0;
}
.login .right .text-absolute{
    left: 50vw;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    -webkit-font-smoothing: antialiased;
    background-image: url(../image/background/bg-landing-pg.png);
    background-repeat: repeat;
    background-size: cover;
}

.login .right .text-absolute span{
    display: none;
}

.login .right .title{
    font-size: 60px;
    font-weight: 800;
    color: #000 ;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}


.login .right button{
    width: 100%;
    border: 3px solid black;
}

.login .right button:hover{
    background-color: #000;
    border: 3px solid transparent;
    color: #fff;
}
.login .right form .input-group, .login .right .button{
    width: 50%;
}

.login .right form input{
    font-family: 'Nunito';
}


/* LEFT */
.login .left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .left .contain{
    width: 80%;
}

.login .left .fs-3{
    margin: 4rem 5rem;
    text-align: center;
}

.login .left .contain .top .circle{
    margin: 2rem 2rem 0 2rem;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
}
.login .left .contain .bottom .circle{
    margin: 0rem 2rem 2rem 2rem;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
}

/* profile */

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .card-header{
    height: 30vh;
}
.profile .card-body{
    min-height: 40vh;
}

.profile .img-header{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}

.jurusan-detail .edit{
    display: none;
}

.profile .img-profile{
    width: 150px;
    height: 150px;
    padding: .3rem;
    background: white;
    object-fit: cover;
    position: absolute;
    right: 3rem;
    top: 20vh;
    z-index: 5;
    border-radius: 100%;
}

.profile .btn.absolute{
    position: absolute;
    top: 2rem;
    left: 2rem;
}



@media screen and (max-width: 1300px) {

    :root{
        font-size: 14px;
    }
    .login .left .fs-3{
        margin: 2rem 3rem;
    }
    
}

@media screen and (max-width: 1000px) {
    

    .profile .btn.absolute{
        z-index: 100;
    }
    .login .left{
        display: none;
        width: 0%;
    }
    .login .right{
        width: 100%;
    }
    .login .right .text-absolute{
        left: 0;
        z-index: -1;
    }
    .login .right .text-absolute span{
        display: block;
    }    
    .login .right form .input-group, .login .right .button{
        width: 60%;
    }  
    .profile .col-md-8{
        width: 100%;
    }

    .profile .card-body{
        min-height: 60vh;
    }
    .profile .img-profile{
        top: 20vh;
        width: 200px;   
        height: 200px;
    }
    .profile{
        align-items: start;
    }
    td.status{
        display: none;
    }
    th.status{
        display: none;
    }
}

@media screen and (max-width: 850px) {


    td.photo{
        display: none;
    }
    th.photo{
        display: none;
    }

    .detail > .row{
        flex-direction: column;
    }
    .detail .col-md-4{
        width: 100%;
    }
    .detail .col-md-8{
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    :root{
        font-size: 13px;
    }
    .text-absolute{
        font-size: 6rem;
    }
    th.angkatan{
        display: none;
    }
    td.angkatan{
        display: none;
    }
    .detail .profile-top{
        flex-direction: column; 
    }

    .jurusan-detail .edit{
        display: none;
    }

    .profile .img-header{
        position: absolute;
        top: 0;
        left: 0;
        height: 30vh;
    }

    .profile .card-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile .card{
        height: 100vh;
    }

    .profile .col-md-8 {
        height: 100vh;
    }

    .profile .img-profile{
        position: static;
        width: 100px;
        height: 100px;
    }

    .list-siswa .jurusan-responsive{
        display: block;
    }
    th.jurusan{
        display: none;
    }
    td.jurusan{
        display: none;
    }

    .list-siswa .dataTables_wrapper div.row:nth-of-type(3) div.col-sm-12:nth-of-type(1) {
    justify-content: center;
    }
    .pagination{
        justify-content: center;
    }

    .action{
        flex-direction: column;
        align-items: end;
    }
    .action .edit{
        display: none;
    }
    i.menu-btn{
        display: none;
    }

    
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .dashboard .col-md-3{
        width: 50%;
    }
    
}

@media screen and (min-width: 450px) {
    .dashboard .grafik .col-md-6{
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    td.status{
        display: none;
    }
    th.status{
        display: none;
    }
    .container-fluid{
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
@media screen and (max-width: 350px) {
    .action-siswa{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .list-siswa > .card{
        border-radius: 0;
    }
}
    

