/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #fff;
    --sidebar-color: #fafafa;
    --primary-color: #14A44D;
    --primary-color-light: #14a44e34;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}


/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: .6rem .75rem;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

.bg-sidebar{
    background: var(--sidebar-color);
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    position: relative;
    height: 3rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: .6rem;
  transition: all 0.4s ease;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 4rem;
    border-radius: 6px;
}

.sidebar .bottom-content .image{
    min-width: 4rem;
    border-radius: 6px;
  }

  
.sidebar .bottom-content .image-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .bottom-content .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .bottom-content .image img{
    width: 2.5rem;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 4rem;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}


.sidebar .text{
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 1.2rem;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 1rem;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    padding: 0;
    margin: 0;
}

.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}

.sidebar ul{
  padding: 0;
  margin: 0;
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}


.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}


.home{
    position: absolute;
    overflow-x: hidden;
    top: 0;
    top: 0;
    left: 15rem;
    height: 100vh;
    width: calc(100% - 15rem);
    background-color: var(--body-color);    
    transition: var(--tran-05);
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}


/* -------- Sidebar Responsive --------- */
.navbar-burger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 1em;
  z-index: 1;
}
.logo{
    display: flex;
  font-size: 15px;
  align-items: center;
  font-weight: bold;
}
.menu-list {
  display: flex;
  display: none;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.menu-list > li {
  margin: 0 1rem;
  cursor: pointer;
}
.menu-list li a:hover{
  color: blueviolet;
  transition: 0.5s;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}
.menu-button::before{
  display: block;
  background-color: #e7eaf0;
  position: absolute;
  height: 4px;
  width: 30px;
  align-self: center;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button{
  display: flex;
  flex-direction: column;
  background-color: #e7eaf0;
  position: absolute;
  height: 4px;
  width: 20px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::after{
  display: block;
  align-self: center;
  background-color: #e7eaf0;
  position: absolute;
  height: 4px;
  width: 10px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  width: 20px;
  transform: rotate(450deg);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  width: 20px;
  transform: rotate(-360deg);
}
#menu-toggle:checked + .menu-button-container .menu-button{
  margin-top: 0px;
  width: 0px;
  transform: rotate(-405deg);
}

.img-logo{
    width: 2.5rem;
  margin-right: 1rem;
    display: none;
}



@media screen and (max-width: 600px) {
    .sidebar{
        display: none;
    }
    .sidebar.close ~ .home{
        left: 0;
        width: 100%;
    }
    .home .img-logo{
        display: block;

    }
    .nav-burger{
        display: flex;
    }
    a.btn-header{
        display: none;
    }
    .menu-button-container {
    display: flex;
  }
  .menu-list {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    display: block;
    margin-top: 50px;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu-list li {
    margin: 0;
    height: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle ~ .menu-list li a{
    display: none;
  }
  #menu-toggle:checked ~ .menu-list li  {
    color: white;
    border-radius: .5rem;
    height: auto;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu-list li a {
    text-align: center;
    height: fit-content;
    display: block;
    color: black;
  }

  #menu-toggle:checked ~ .menu-list{
    margin: 5rem 1rem;
    border: 1px solid #e7eaf0;
    border-radius: .5rem;
  }
  .menu-list > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    background: white;
    width: 100%;
    z-index: 13;
  }
  .menu-list > li > a{
    color: transparent;
    z-index: 15;
  }

  .menu-list > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}   

